* {
  all: unset;
  background-color: transparent;
  background-image: none;
  color: #f5e0dc ;// #313244 ; 
  font-family: Jetbrains Mono Nerd Font;
  font-size: 16px;

}

.rainmeter_time {
  font-size: 40px;
}
.rainmeter_week {
  font-size: 80px;
}
